:root {
    font-family: monospace;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

h5 {
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.deslineado{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.chistes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.like, .jokes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

h2{
    text-align: center;
}
